@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* global settings for style */
html, body { height: 100%; }

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #e0e0e0;
}

.container {
  display: grid;
  grid-template-columns: min-content min-content auto;
  grid-gap: 10px;
  padding: 10px;
}

/* NAVIGATION BAR */

/* any list item, a tag and button design for navbar */
.nav_links li, a, button {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  background-color: rgb(10, 89, 0)
}

h1 {
  font-size: 32px;
  color: #ffffff;
  background-color: rgb(10, 89, 0)
}

/* a flex and space between to allow the navbar look slick and well spaced */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: rgb(10, 89, 0);
}

/* no bullet points and the backgroundcolor to cover entire navbar */
.nav_links {
  list-style: none;
  background-color: rgb(10, 89, 0)
}

/* single block */
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

/* smooth effects when hovering */
.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0bccfb;
}

button {
  padding: 7px 20px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 38px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.85);
}

/* GRAPH */
.graph {
  position: relative;
  height: 80vh;
  width: 80vw;
  grid-area: 1 / 1 / 4 / 3;
  transition: all 0.3s ease 0s;
}

.graph:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 35px rgba(0,0,0,.5);
}

canvas {
  background-color: #ffffff;
}

/*  KPI LAYOUT  */
svg {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #a29f9f;
  stroke-width: 10;
  stroke-lineup: round;
  transform: translate(5px,5px);
}

/* For each circular loader its 50% */
svg circle:nth-child(2) {
  stroke-dasharray: 220;
  stroke-dashoffset: 220;
}

/* % Outline color for each circle */
.KPI:nth-child(2) svg circle:nth-child(2) {
  stroke: #00ff43
}
.KPI:nth-child(3) svg circle:nth-child(2) {
  stroke: #00a1ff;
}
.KPI:nth-child(4) svg circle:nth-child(2) {
  stroke: rgb(255, 61, 0)
}

/* */
.KPI {
  display: flex;
  position: relative;
  background: #F5F5F5;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 4px solid rgb(10, 89, 0);
  border-radius: 4px;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 1000;
}

.percent .kpi-value {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.percent .kpi-value h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: all 0.3s ease 0s
}

.text {
  position: relative;
  color: #000000;
  margin-top: 30px;
  transition: all 0.3s ease 0s;
}

.KPI:hover {
  transform: translateY(-1px);
  box-shadow: 0 15px 35px rgba(0,0,0,.5);
}

.KPI:hover .text {
  color: rgb(10, 89, 0);
}

.KPI:hover .percent .kpi-value h2 {
  color: #ffffff;
  font-size: 45px;
}
